body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 249, 249);
    display: grid;
    /* grid-template-columns: max-content auto max-content; */
    align-items: center;
    justify-content: center;
}

.questionCard {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 1em;
    display: grid;
    grid-template-columns: max-content auto max-content;
    width: auto;
    height: 20em;
    gap: 3em;
}

.validationMessage::after {
    content: "Please enter/select your answer!";
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px red solid;
    color: red;
}

.summary {
    background-color: antiquewhite;
    padding: 2em;
    border-radius: 1em;
}

@media (max-width: 640px) {
    .questionCard {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        margin: auto 2em;
    }

    .question {
        grid-row: span 2;
        grid-column: span 2;
        order: -1;
    }

    .questionCard button {
    }
}
